*{
    margin: 0;
    padding: 0;
    
}

.img{
    height: 23px;
    width: 18px;
}
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    
    margin-right: 10px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}



.ul,
li,
a{
    margin-left: 
    
}

.navbar2 {
    background-color: #f5f5f5;
    padding: 10px;
}

.navbar2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar2 li {
    
    margin-right: 10px;
}

.navbar2 a {
    color: #333;
    text-decoration: none;
}

.navbar2,
ul,
li,
a{
    display: flex;
    justify-content: right;
    gap: 35px;
}

.navbar1,
ul,
li,
a{
    display: flex;
    justify-content: right;
    gap: 35px;
}